@media (max-width:320px) {
    .foo {
        display:none;
    }
}
@media (min-width:321px) and (max-width:360px) {
    .foo {
        display:none;
    }
}
@media (min-width:361px) and (max-width:375px) {
    .foo {
        display:none;
    }
}
@media (min-width:376px) and (max-width:411px) {
    .foo {
        display:none;
    }
}
@media (min-width:412px) and (max-width:414px) {
    .foo {
        display:none;
    }
}
